run = "php -S 0.0.0.0:5000"
onBoot = "php -S 0.0.0.0:5000"
entrypoint = "index.html"
hidden = [".build", ".config"]
modules = ["php-8.1"]

[nix]
channel = "stable-22_11"

[env]
XDG_CONFIG_HOME = "/home/runner/.config"

[languages]
[languages.php]
pattern = "**/*.php"

[[ports]]
localPort = 8000
externalPort = 80

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "phpserver"

[[workflows.workflow]]
name = "phpserver"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "curl -i http://localhost:8000/"

[deployment]
run = ["sh", "-c", "curl -i http://localhost:8000/"]
